name: Prepare Release for Tagging and Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Semantic version for the release, ex: "v1.2.3"'
        required: true

jobs:
  create-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Update version in cli.go
        run: |
          VERSION=${{ github.event.inputs.version }}
          sed -i "s/\tzdnsCLIVersion = \".*\"/\tzdnsCLIVersion = \"${VERSION}\"/g" src/cli/cli.go
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: "bot/update-code-for-${{ github.event.inputs.version }}"
          title: "Updates version in code to ${{ github.event.inputs.version }}"
          body: "This PR updates the version to ${{github.event.inputs.version}}. Be sure to tag the release once this PR is merged."
          base: main
          reviewers: ZDNS Maintainers
          commit-message: "Update version to ${VERSION} in src/cli/cli.go"
